.app {
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-input {
    width: 250px;
}

.user-input div {
    margin-bottom: 6px;
}

.calendar {
    margin-left: 48px;
    width: 420px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar .days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 6px;
}

.calendar .days .cell {
    text-align: center;
}

.calendar .month {
    margin-bottom: 24px;
    width: 100%;
}

.month .month-name {
    background-color: lightgreen;
    text-align: center;
}

.cell {
    width: 60px; /*  420/7 = 60    */
}