.app {
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-input {
    width: 250px;
}

.user-input div {
    margin-bottom: 6px;
}

.calendar {
    margin-left: 48px;
    width: 224px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar .day-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 6px;
}

.calendar .day-name .cell {
    text-align: center;
}

.calendar .month {
    margin-bottom: 24px;
    width: 100%;
}

.month .month-name {
    background-color: lightgreen;
    text-align: center;
}

.month .week {
    display: flex;
    flex-direction: row;
    height: 32px;
    padding-top: 3px;
}

.month .week .day.weekend {
    background-color: yellow;
    color: black;
}

.month .week .day.invalid {
    background-color: grey;
}

.month .week .day {
    text-align: center;
    padding: 3px;
    border: 1px solid white;
    background-color: green;
    color: white;
}


.cell {
    width: 32px; /*  420/7 = 60    */
}